version: '3.8'

services:
  # Kafka & Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # Gateway Service
  gateway:
    build: ./gateway
    ports:
      - "8080:8080"
    environment:
      - SERVICE_A_URL=http://service_a:8002
      - SERVICE_B_URL=http://service_b:8001
    depends_on:
      - service_a
      - service_b

  # Service A (Stock/Master)
  service_a:
    build: ./service_a
    ports:
      - "8002:8002"
    environment:
      - KAFKA_BROKER=kafka:9092

  # Service B (Cart/Order)
  service_b:
    build: ./service_b
    ports:
      - "8001:8001"
    environment:
      - KAFKA_BROKER=kafka:9092